body{
    font-family: 'Montserrat', serif;
}
#recipeArea {
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}
li{
    padding-left: 30px;
}

#nutritionInformation{
    float: right;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 500px
    
}

#pageTitle{
    font-family: 'Pacifico', serif;
    font-size: 48px;
  
}
#clearHistory{
    margin: 10px;
}

